<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cat" class="com.xuuxxi.pojo.Cat"/>
    <bean id="dog" class="com.xuuxxi.pojo.Dog"/>

    <!--
            autowire="byName"
            会自动在上下文中查找和自己对象 set 方法后面的值对应的 bean
    -->
    <bean id="people" class="com.xuuxxi.pojo.People" autowire="byName">
        <property name="name" value="a"/>
    </bean>
</beans>
